<!-- <configuration debug="true"> -->
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.out</target>
    <filter class="com.sudoplay.script.logging.StdOutFilter" />
    <encoder>
      <pattern>%-6relative [%thread] %-5level [%logger{10}#%method:%line] %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.err</target>
    <filter class="com.sudoplay.script.logging.ErrOutFilter" />
    <encoder>
      <pattern>%-6relative [%thread] %-5level [%logger{10}#%method:%line] %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.sudoplay.script.interpreter" level="WARN" />

  <root level="TRACE">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="STDERR" />
  </root>

</configuration>
